.form{
    background-color:white;
    border: 1px solid white;
    border-radius:10px;
    width: 500px;
    padding: 40px;
}

.labelStyle{
    margin-bottom: 12px;
}

/* .signin-with-btn{
    border: 1px solid grey;
    margin: 10px 10px;
    padding: 10px;
} */

.btn-booking{
    width:100%;
    margin-top: 20px;
}