.homeBg{  
  background: linear-gradient(0deg, rgba(58, 57, 57, 0.6), rgba(58, 57, 57, 0.6)),url("./Image/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 900px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
